<div class="panel panel-default hidden-xs">
  <div class="panel-heading">
    <h3 class="panel-title">Video for <%= title %></h3>
  </div>
  <div class="panel-body center-block text-center">
    <iframe width="640" height="360" src="//www.youtube.com/embed/<%= url %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
