
<div class="jumbotron">
  <h1>Mapwork</h1>
  <p>Share and download controller mappings for your favourite software</p>
	<p>
		<%= link_to "Search Mappings", mappings_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>

